<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) [%highlight(%level)] %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
        <!-- log-json -->
        <!--<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
            <!--<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">-->
                <!--<jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">-->
                    <!--&lt;!&ndash; <prettyPrint>true</prettyPrint> &ndash;&gt;-->
                <!--</jsonFormatter>-->
                <!--<timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</timestampFormat>-->
                <!--<includeContextName>false</includeContextName>-->
                <!--<appendLineSeparator>true</appendLineSeparator>-->
            <!--</layout>-->
            <!--<charset>UTF-8</charset>-->
        <!--</encoder>-->
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>